
azure-quantum[qiskit]==0.23.201228b1
dimod
fastapi==0.75.1
gunicorn==20.1.0
pydantic==1.9.0
PyPortfolioOpt==1.5.2
python-dotenv==0.20.0
qiskit[optimization]
quandl
uvicorn==0.17.6
yfinance
stocksymbol==0.0.5

# development
flake8
